<h1>Sorry, this game is already going</h1>
<h5>Why don't you start another one?</h5>
<form action="/creategame" method="GET" style="text-align:center;">
  <button type="submit" class="btn btn-primary">Start a Game</button>
</form>