<% content_for :head do %>
  <style type="text/css">
    .highlight-white {
      -webkit-box-shadow: inset 0 0 3px 3px yellow;
      -moz-box-shadow: inset 0 0 3px 3px yellow;
      box-shadow: inset 0 0 3px 3px yellow;
    }
    .highlight-black {
      -webkit-box-shadow: inset 0 0 3px 3px blue;
      -moz-box-shadow: inset 0 0 3px 3px blue;
      box-shadow: inset 0 0 3px 3px blue;
    }
  </style>
  <%= javascript_include_tag "chess", "chessboard-0.3.0.min", "connection", "game", "replay" %>
<% end %>

<div style="display: inline-flex;">
  <div id="board" style="width: 400px"></div>
  <div style="float:left; height: 396px; overflow: scroll;"><span id="pgn"></span></div>
</div>
<p>Status: <span id="status"></span></p>
<button class="start" onclick="myFunction()">Play</button>
<button id="stop" onclick="myStopFunction()" disabled>Stop</button>
<button class="start" onclick="makeRandomMove()" >Previous</button>
<button class="start" onclick="makeRandomMove()" >Next</button>