<% content_for :head do %>
  <script>
    var moveListString = "<%= @game.move_list %>";
  </script>
  <%= javascript_include_tag "chess", "chessboard-0.3.0.min", "connection", "game", "replay", "draw" %>
<% end %>

<h1>Watch the game!</h1>

<div class="content-fluid">
  <div class="row">

    <div class="col-xs-2 col-md-3">
      <div id="tool-panel" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tools</h3>
        </div>
        <div class="panel-body">
          <p><button id="start" onClick="startMoves()" class="btn btn-default start">Play</button>
          <button id="stop" onClick="stopMoves()" class="btn btn-danger" disabled="disabled">Stop</button></p>

          <p><button onClick="makePreviousMove()" id="previous" class="btn btn-info start" disabled>Previous</button>
          <button id="next" onClick="makeMove()" class="btn btn-info start">Next</button></p>
          <button id="reset" onClick="reset()" class="btn btn-info start">Reset</button></p>

          <p><button id="toggle-mode-button" class="btn btn-primary" data-mode="play">Switch to Draw Mode</button></p>

          <div class="checkbox">
            <label>
              <input id="changeShowNotation" type="checkbox" >
              Show Notation
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input id="changeHighlightLegalMoves" type="checkbox" >
              Highlight valid moves
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input id="changeHighlightPreviousMove" type="checkbox" >
              Highlight previous move
            </label>
          </div>

        </div>
      </div>
    </div>


    <div class="col-xs-10 col-md-4">
      <div id="board-wrapper">
        <div id="board"></div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div id="status-well" class="well">
        <p><strong>Status: </strong><span id="status"></span></p>
      </div>
      <div id="move-list-well" class="well">
        <h5>Move List: </h5>
        <p id="pgn"></p>
      </div>
    </div>
  </div>
</div>