// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#register-form {
  margin:auto;
  width: 40%;
}

#game-list-panel {
  margin:auto;
  width: 40%;
}

#board-wrapper {
  margin:auto;
  width: 60%;
}

#status-well {
  margin-top: 15px;
}

#board {
  width: 600px;
}

#player-nickname {
  float:right;
  padding-right:20px;
}

#replayLink{
  display: none;
}

#replayDiv{
  display: inline;
}

#tool-panel {
  margin:auto;
}

.content-fluid {
  padding-left: 20px;
}

#playWithFriend {
  border-left: 1px solid #888;
  text-align: center;
}